@font-face {
font-family: Source Sans Pro;
src: url(fonts/SourceSansPro-Regular.otf);
}
@font-face {
font-family:Pt Serif;
src: url(fonts/PTS76F.ttf);
}
@font-face {
font-family: Playfair Display;
src: url(fonts/PlayfairDisplay-Regular.otf);
}


body{
    background-image: url(fon.png);
     background-repeat: no-repeat;
background-size: cover;
    width: 100%;
}

.home a{
    list-style: none;
    text-decoration: none;
    color:#1d1d1c;
   position: absolute;
    font-size: 24px;

    font-family: 'Source Sans Pro';
   padding-top: 6px;
   right: 0;
    top: 0;
    margin-right:150px;

}
.about a{
    list-style: none;
    text-decoration: none;
    color:#1d1d1c;
   position: absolute;
    font-size: 24px;

    font-family: 'Source Sans Pro';
   padding-top: 6px;
   right: 0;
    top: 0;
    padding-right: 50px;

}
.logo{
    z-index: 2;
    position: absolute;
    width: 70px;
    height: 88px;
}
.brand a{
  list-style: none;
    text-decoration: none;
    color:#1d1d1c;
   position: absolute;
    font-size: 28px;
    font-style: italic;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    padding-left: 90px;
    padding-top: 3px;
}

.image-link{
    margin: 100px;
    margin-top: -60px;
}
.image-link2{
    margin: 100px;
    margin-top: -60px;
}
.respon{


    width: 100%;

 padding: 20px;
}


.name-page{
    font-size: 36px;
    font-weight: 600;
    margin-left: 130px;
    font-family: 'Source Sans Pro';
    margin-top: 60px;
    position: absolute;
    z-index: 2;
    color: #4F4F4F;
}
.name2{
  margin-left: 100px;
}
.discription{
    font-size: 25px;
    font-family: 'Source Sans Pro';
    margin: 130px;


    color: #696969;
}
.dis2{
  margin: 100px;
  margin-top: 140px;
  margin-bottom: 80px;
}
.linked a{
  margin: 20px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #696969;
    position: relative;
    z-index: 2;


}
 .ssilka-desing-img{
   padding-left: 0px;
   padding-right: 0px;
 }
.ssilka-verstka-img{
  padding-left: 0px;
  padding-right: 0px;
}
.links{
    margin-left: 120px;
    margin-top: 890px;
}
.links2{
  display: none;
}

}
@media(max-width:1250px){
  .image-link2{
    margin: 100px;
    margin-top: -30px;
  }
  .links{

      margin-top: 690px;
  }
}
@media(max-width:1050px){
  .image-link2{
    margin: 70px;
    margin-top: -6s0px;
  }

  body{
    background-size: auto;
  }
  .desing{
    background-size: cover;;
  }
    .links{
      text-align: center;
        margin-top:650px;
          margin-left: 0px;
    }

    .name-page{
        margin-left: 80px;
    }
    .discription{
        margin-left: 80px;
        font-size: 21px;
    }
    .image-link{
        margin: 40px;
        margin-top: -90px;

    }

}
@media(max-width:925px){
  .respon{
      padding: 15px;

  }
  .links{
    margin-top: 720px;

  }
     .name-page{
        margin-left: 60px;
    }
    .discription{
        margin-left: 60px;

    }


    .image-link{
        margin: 30px;
        margin-top: -100px;

    }
}
@media(max-width:825px){

    .discription{
        font-size: 21px;
    }
    .image-link{
        margin: 30px;
margin-top: -100px;
    }

}
@media(max-width:768px){
  .image-link2{
    margin: 30px;
    margin-top: -30px;
  }
  .respon{
      padding: 15px;

  }
     .name-page{
        margin-left: 40px;
    }
    .discription{
        margin: 40px;
        margin-top: 140px;
        font-size: 18px;
    }
    .image-link{
        margin: 30px;


    }
.links{
  margin-top: 640px;
}
}
@media(max-width:680px){


    .about a{
        font-size: 20px;
        padding-right: 10px;
    }
   .home  a{
       font-size: 20px;
        margin-right: 80px;

    }

    .respon{
        padding: 5px;

    }
    .links{
      margin-top: 570px;
    }
}
@media(max-width:553px){
  .links{
margin-top: 480px;
  }
    .image-link{
        margin: 10px;

    }

}
@media(max-width:487px){
  .name-page{
    font-size: 23px;
  }
  .discription{
    margin-top: 120px;
  }
    .brand{
        font-size: 22px;

        padding-top: 1px;
    }

    .about a{
        font-size:18px;
        padding-top: 12px;
    }
   .home  a{
  margin-right: 70px;
       font-size: 18px;
        padding-top: 12px;

    }

    .links{
      margin-top: 400px;
    }
}
@media(max-width:360px){
.brand a{
  font-size: 20px;
  margin-top: 5px;
}
  .about a{
      font-size:14px;
      padding-top: 16px;
  }
 .home  a{
margin-right: 50px;
     font-size: 14px;
      padding-top: 16px;

  }

}
